.body .section .columns {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin-left: 150px;
    margin-right: 150px;
}

body {
    background-image: url("bgGreen.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
}


.hero-head {
    display: inline-block;
    align-items: center;
    font-family: Cambria;
    font-size: 16px;
    margin-top: 5px;
}


.box {
    box-shadow: rgba(0, 0, 0, 0.1);
}

.img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.polaroid {
    width: 100%;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

.willkommen {
    font-family: Cambria;
    font-size: 26px;
    font-weight: bold;
}

.titel {
    font-weight: bold;
    font-size: 26px;
    color: hotpink;
}


.links:hover {
    color: rgb(255, 170, 0);
}

.usernames {
    color: deeppink;
}


.footer {
    background-color: rgba(50, 59, 57, 0.2);
    position: sticky;
    max-height: 5px;
    bottom: 0px;
}
