<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Stories</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body class="body columns is-mobile is-centered">

<section class="section">
    <div class="container">
    <section class="hero is-transparent">
        <div class="hero-head">
            <div class="field login is-horizontal is-grouped is-centered is-pulled-right">
                <a class="button is-dark" th:href="@{/login}" th:if="${sessionUser == null}">Login</a>
            </div>
            <div class="field registration is-horizontal is-grouped is-centered is-pulled-left">
                <a class="button is-dark" th:href="@{/register}">Registration</a>
            </div>

        <div class="field logout is-horizontal is-grouped is-centered is-pulled-right">
        <form th:if="${sessionUser != null}" method="post" th:action="@{/logout}"><br>
            <button class="button is-dark" type="submit">Logout</button><br>
                </form>
            </div>
        </div>

            <div class="polaroid">
                <div class="container">
                <figure class="image">
                    <img src="/pictureUserstories.jpg" alt="image" style="max-height: 400px;">
                </figure>
                </div>
            </div>
    </section>




    <div class="willkommen">
        <br><h1 class titel is-green th:text="${'Willkommen auf unserem Blog'}" th:if="${sessionUser == null}"></h1>
        <h1 th:text="${'Willkommen, ' + sessionUser.username}" th:if="${sessionUser != null}"></h1>
    </div>

        <hr>
        <a class="button is-success" th:href="@{/post}" th:if="${sessionUser!= null && sessionUser.hasAdminRights}">Nachricht schreiben</a>
        <hr>

        <div th:each="post: ${posts}">
            <div class="box">
            <span th:text="${post.titel}"></span><br>
            <span th:text="${post.text}"></span><br>
            <div class="links">
                <a th:href="@{'/postview/{id}'(id = ${post.id})}">Kommentare zeigen</a>
            </div>
            </div>
            <hr>
        </div>


        <br>
        <br>
        <br>
        <Footer>
        <div class="footer has-text-light is-horizontal is-grouped is-centered">
            <p>This is the footer of this test-website. All photos regarding traveling are borrowed from www.unsplash.com Thanks for visiting! :)</p>
        </div>
    </Footer>
    </div>
</section>
</body>
</html>