<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Stories</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body class="body columns is-mobile is-centered">

<section class="section">
    <div class="container">

        <div class="polaroid">
            <div class="container">
                <figure class="image">
                    <img src="/pictureUserstories.jpg" alt="image" style="max-height: 400px;">
                </figure>
            </div>
        </div>

        <br><a class="button is-primary" th:href="@{/}">Startseite</a><br>

        <div class="box">
<h1>Login</h1>
<form th:action="@{/login}" th:object="${login}" method="post">
    Username: <input type="text" th:field="*{username}"><br/>
    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p><br>
    Passwort: <input type="password" th:field="*{password}"><br/>
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p><br>
    <button class="button is-dark" type="submit">Login</button>
</form>
        </div>

        <br>
        <br>
        <br>
<Footer>
    <div class="footer has-text-light">
        <p>This is the footer of this test-website. All photos regarding traveling are borrowed from www.unsplash.com Thanks for visiting! :)</p>
    </div>
</Footer>
    </div>
</section>
</body>
</html>