<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Stories</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body class="body columns is-mobile is-centered">

<section class="section">
    <div class="container">

        <div class="polaroid">
            <div class="container">
                <figure class="image">
                    <img src="/pictureUserstories.jpg" alt="image" style="max-height: 400px;">
                </figure>
            </div>
        </div>

        <br><a class="button is-primary" th:href="@{/}">Startseite</a><br>

        <div class="box">

            <div class="titel">
<h1>Post schreiben</h1>
            </div>
<form th:action="@{/post}" th:object="${post}" method="post">
    <strong th:text="${'Titel:'}"></strong><br>
    <textarea th:field="*{titel}">Titel:</textarea><br>
    <p th:if="${#fields.hasErrors('titel')}" th:errors="*{titel}"></p><br>
    <strong th:text="${'Text:'}"></strong>
    <textarea th:field="*{text}"></textarea>
    <p th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></p>
    <br>
    <button class="button is-dark" type="submit">Abschicken</button>
</form>
        </div>

        <br>
        <br>
        <br>
<Footer>
    <div class="footer has-text-light">
        <p>This is the footer of this test-website. All photos regarding traveling are borrowed from www.unsplash.com Thanks for visiting! :)</p>
    </div>
</Footer>
    </div>
</section>
</body>
</html>
