<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Stories</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body class="body columns is-mobile is-centered">

<section class="section">
    <div class="container">

        <div class="polaroid">
            <div class="container">
                <figure class="image">
                    <img src="/pictureUserstories.jpg" alt="image" style="max-height: 400px;">
                </figure>
            </div>
        </div>

        <br><a class="button is-success" th:href="@{/}">Startseite</a><br>

    <div class="titel has-text-dark"></div>
        <br><p>Kommentare zum Post:<p></p><br>
    </div>

    <div th:object="${post}">
        <div class="box">
            <div class="usernames">
        <p> Geschrieben von: <span th:text="${post.user.username}"></span></p>
            </div>
        <p th:text="${post.titel}"></p>
        <p th:text="${post.text}"></p>
        <p th:text="${post.postedAt}"></p>

            <hr>

        <div class="comments" th:each="comment: ${post.comments}">
            <div class="usernames">
            <span th:text="${comment.user.username}"></span>
            </div>
            <span th:text="${comment.text}"></span><br>
            <span th:text="${comment.postedAt}"></span><br>
        <hr>
        </div>
        </div>
    </div>



    <h2>Kommentar verfassen</h2>

    <form th:if="${sessionUser != null}"
          th:action="@{/postview/{id}(id=${post.id})}" th:object="${comment}" method="post">
        <div class="box">
        <textarea th:field="*{text}"></textarea>
        <p th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></p>
        <br>
        <button class="button is-dark" type="submit">Abschicken</button>
        </div>
    </form>

    <br>
    <br>
    <br>
    <Footer>
    <div class="footer has-text-light">
        <p>This is the footer of this test-website. All photos regarding traveling are borrowed from www.unsplash.com Thanks for visiting! :)</p>
    </div>
    </Footer>
    </div>
    </section>
</body>
</html>